* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.2%;
	direction: rtl;
	font-family: 'Roboto', Arial, sans-serif;
}
.navbar__wrapper {
	height: 50px;
	background-color: white;
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
	justify-content: space-around;
}
.navbar__start {
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar__logo {
	height: 40px;
}
.navbar__input__wrapper {
	position: relative;
}
.navbar_keyboard {
	position: absolute;
	top: 5px;
	left: 5px;
}
.navbar__input {
	width: 40vw;
	justify-self: stretch;
}
.navbar__center {
	display: flex;
	justify-content: stretch;
}
.navbar__button__search {
	padding: 0 20px;
}
.navbar__end {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar__end div {
	padding: 0 1rem;
}
.navbar__end i {
	color: #707070;
}
.notifications {
	position: relative;
}
.bell {
	position: relative;
}

.notifications > .notifications_number {
	height: 9px;
	width: 9px;
	font-size: 5px;
	border-radius: 50%;
	background-color: #cc0000;
	position: absolute;
	top: 0px;
	left: 5px;
	color: white;
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
}
.user {
	height: 20px;

	background-color: #89888b;
	width: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user_img {
	height: 20px;
	border-radius: 50%;
	width: 20px;
}
/* Main section */
.main__section__container {
	display: flex;
	padding-top: 50px;
}
.main__section {
	width: 85%;
	height: 100%;
	background-color: #f9f9f9;
	display: flex;
	flex-wrap: wrap;
}
.video__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.video__cover {
}
.video__cover__img {
	width: 220px;
	height: 120px;
}
.video__user__logo img {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}
.video__info {
	display: flex;
}
.video__info div {
	padding: 3px 5px;
}
.video__component {
	flex: 1 0 20%;
	height: 200px;
	width: 150px;
	margin: 25px;
	background-color: transparent;
}

/* side section */
.side__section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 15%;
	background-color: white;
	overflow: scroll;
}

.video__guide {
	margin: 5px;

	padding: 12px;
	font-size: 11px;
	background-color: transparent;
}
.video__guide:hover {
	background-color: #f9f9f9;
}
