* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchBar {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}
.searchBarForm {
  position: relative;
}
.searchBarInput {
  padding: 10px 60px;
}
.searchBarBtn {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  top: 0px;
  padding: 10px;
  justify-content: stretch;
}
.avatarCard {
  display: inline-flex;
  position: relative;
  margin: 15px;
  cursor: pointer;
  flex-wrap: wrap;
  flex-direction: column;
}
.avatarCard img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.avatarFullName {
  position: relative;
  display: flex;
  bottom: 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
